* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    font-style: normal;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #BDAE82;
    cursor: pointer;
    font-size: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 60px;
    line-height: 120px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #BDAE82;
    font-size: 40px;
    line-height: 80px;
}

.header {
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header-nav {
    margin-left: auto;
    width: 500px;
}

.logo {
    background-image: url('./assets/svg/logo.svg');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0 7px;
}

.nav-link {
    padding: 0 15px;
  }

.hamburger {
    z-index: 2;
}

.lang {
    width: 80px;
    font-weight: 700;
}

.section-hero {
    background-image: url('./assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
    padding-left: 80px;
  }

.hero-title {
    padding-top: 160px;
}

.hero-text {
    width: 470px;
    line-height: 40px;
    padding-top: 10px;
    margin-bottom: 25px;
}

.btn-fill {
    border: 0;
    background-color: #bdae82;
    font: inherit;
    width: 220px;
    height: 55px;
    cursor: pointer;
    transition: color 0.3s;
}

.btn-fill:hover {
    color: #FFFFFF;
}

.btn-transparent {
    border: 2px solid #BDAE82;
    background-color: transparent;
    color: #BDAE82;
    font-size: inherit;
    font-family: inherit;
    width: 220px;
    height: 55px;
    cursor: pointer;
    transition: color 0.3s;
}

.btn-transparent:hover {
    color: #FFFFFF;
}

.h-line {
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-skills {
    margin-top: 100px;
}

.section-title {
    display: inline;
    text-align: center;
    background-color: #000000;
    padding: 0 20px;
}

.skills-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
  }

.skill-item {
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    width: 320px;

}
  
.skill-item-title {
    font-weight: 700;
    line-height: 40px;
    padding-top: 100px;
}

.skill-item-info {
    font-size: 18px;
    line-height: 36px;
    padding: 20px;
}

.skill-item:nth-child(1) {
    background-image: url('./assets/svg/camera.svg');
    background-size: 62px 50px;
  }

.skill-item:nth-child(2) {
    background-image: url('./assets/svg/video.svg');
    background-size: 60px 50px;
  }

.skill-item:nth-child(3) {
    background-image: url('./assets/svg/image.svg');
    background-size: 66px 50px;
  }

.skill-item:nth-child(4) {
    background-image: url('./assets/svg/mic.svg');
    background-size: 32px 50px;
  }

.section-portfolio {
    margin-top: 90px;
}

.portfolio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 5px;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.section-video {
    margin-top: 100px;
}

.video-player {
    position: relative;
    margin-top: 60px;
    background-image: url('./assets/img/video-player.jpg');
    height: 705px;
  }

.video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    background-image: url('./assets/svg/video-button.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: 0.3s;
}

.video-btn:hover {
    cursor: pointer;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.section-price {
    margin-top: 100px;
}

.price-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 60px;
}

.price-item {
    border: 2px solid #BDAE82;
    width: 450px;
    text-align: center;
    padding: 41px;
}

.price-item-title {
    display: block;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    padding-bottom: 20px;
}

.price-item-cost {
    display: block;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
    padding-bottom: 20px;
}

.price-item-description {
    margin-bottom: 40px;
}

.price-item-text {
    display: block;
    font-size: 18px;
    line-height: 36px;
}

.section-contacts {
    background: url('./assets/img/contacts.jpg');
    background-repeat: no-repeat;
    background-size: auto 700px;
    background-position: center center;
    height: 700px;
    margin-top: 100px;
}

.contacts-container {
    margin-left: auto;
    width: 450px;
}

.contacts-title {
    padding-top: 60px;
    padding-bottom: 40px;
}

input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    color: #BDAE82;
    font: inherit;
}

input::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
    padding: 20px;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 20px;
}


.contacts-form-message {
    resize: none;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    color: #BDAE82;
    font: inherit;
    margin-bottom: 12px;
}

textarea::placeholder {
    font-family: 'Inter', sans-serif;
    color: #bdae82;
    font-size: 20px;
    padding: 0 20px;
}

textarea:focus {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 20px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.footer-info {
    width: 182px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;

}

.icon {
    margin-top: 12px;
    width: 32px;
    height: 32px;
    transition: 0.3s;
}
  
.icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
  

@media (max-width: 768px) {

    html, 
    body {
        position: relative;
        overflow-x: hidden;
    }

    .header {
        background-image: url('./assets/img/bg-adaptive.jpg');
    }

    .header-container {
        padding: 0 60px;
        justify-content: space-evenly;
    }

    h1 {
        font-size: 32px;
        line-height: 64px;
        font-weight: 400;
    }

    h2 {
        font-size: 32px;
    }

   

    .lang {
        margin-left: auto;
    }

    .hamburger {
        display: block;
        padding-left: 25px;
    }

    .header-nav {
        display: none;
        right: -620px;
        background-color: #000000;
        height: 1024px;
        }

    .nav-open {
        display: block;
        position: absolute;
        z-index: 1;
        width: 620px;
        right: 0;
        top: 0;
        transition: 0.5s;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding-top: 130px;
        padding-left: 111px;
        width: 150px;
        font-size: 35px;
        line-height: 74px;
        gap: 16px;
    }

    .nav-link:hover {
        font-size: 35px;  
    }
      
      .hamburger .line {
        width: 50px;
        height: 2px;
        background-color: #ecf0f1;
        display: block;
        margin: 10px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
    .hamburger:hover {
        cursor: pointer;
      }

    .hamburger:hover .line {
        background-color: #BDAE82;
    }
      
    .hamburger.is-active {
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        transition-delay: 0.6s;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        }

    .hamburger.is-active .line:nth-child(2){
    width: 0px;
    }

    .hamburger.is-active .line:nth-child(1),
    .hamburger.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    }

    .hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
    }

    .hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
    }

    .section-hero {
        background-image: url('./assets/img/bg-adaptive.jpg');
        height: 500px;
        padding-left: 60px;
    }

    .hero-title {
        padding-top: 78px;
    }

    .hero-text {
        padding-top: 20px;
        margin-bottom: 60px;
        width: 390px;
        line-height: 24.2px;
    }

    .section-skills {
        margin-top: 80px;
    }

    .skills-items {
        justify-content: space-evenly;
        align-items: center;
        padding-top: 45px;
      }
    
    .skill-item {
        width: 300px;
        padding: 0 0 36px 0;
    
    }
      
    .skill-item-title {
        padding-top: 80px;
    }
    
    .skill-item-info {
        line-height: 22px;
        padding: 20px 0 40px 0;
        width: 280px;
    }
    
    .section-portfolio {
        margin-top: 85px;
    }

    .portfolio-buttons {
        flex-wrap: wrap;
        align-items: center;
        padding: 49px 60px 60px 60px;
    }

    .section-video {
        margin-top: 80px;
    }

    .section-video-container {
        width: 100%;
        padding: 0;
    }

    .video-player {
        margin-top: 50px;
        background-image: url('./assets/img/video-player-adaptive.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 418px;
    }

    .video-btn {
        width: 65px;
        height: 65px;
        background-size: contain;
    }

    .section-price {
        margin-top: 80px;
    }

    .price-items {
        padding-top: 50px;
        gap: 50px;
    }

    .price-item {
        width: 420px;
    }

    .section-contacts {
        margin-top: 80px;
        background: url('./assets/img/contacts-adaptive.jpg');
        height: 600px;
    }

    .contacts-title {
        line-height: 64px;
    }

    .contacts-container{
        margin: 0 auto 0 auto;
    }

    .contacts-title {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .btn-contacts {
        margin-left: 115px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: space-evenly;
        line-height: 24px;
        height: 190px;
    }

    .footer-info {
        padding-top: 8px;
    }

    .rsschool-link {
        padding-bottom: 10px;
    }

    .footer-list {
        padding-bottom: 10px;
    }

    }

    @media (max-width: 600px) {

    .nav-open {
        width: 100%;
        height: 600px;
    }

        
    }

    @media (max-width: 470px) {
        
        h2 {
            font-size: 30px;
        }

        .header {
            background-position: right -30px;
        }

        .header-container {
            padding: 0 30px;
            justify-content: space-around;
        }

        .hamburger {
            padding-left: 7px;
        }

        .nav-list {
            padding-left: 60px;
            padding-top: 95px;
        }

        .section-hero {
            padding-left: 30px;
            background-position: top -120px right 0px;
        }

        .hero-text {
            width: 100%;
        }

        .section-skills {
            margin-top: 60px;
        }

        .skill-item {
            width: 100%;
        }

        .skill-item-info {
            width: 100%;
        }

        .section-portfolio {
            margin-top: 15px;
        }

        .portfolio-img {
            width: 100%;
            height: auto;
        }

        .price-item {
            width: 100%;
        }

        .contacts-container {
            width: 100%;
        }

        .btn-fill,
        .btn-transparent {
            width: 190px;
        }

        .btn-contacts {
            margin: 0 auto 0 auto;
        }
        
    }

    @media (max-width: 275px) {
        .btn-fill,
        .btn-transparent {
            width: 100%;
        }
    }
}